table, th, td{
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    height: 45px;
    width: 1250px;
    margin: 20px 10px;
}

tr{
    background-color: #f2f2f2;
}

th{
    background-color: #04aa6d;
}
#sisir:hover{
    background: rgba(0, 255, 255, 0.68) 
}
#f{
    text-align: right;
    display: inline;
    text-decoration:none ;
    border: 2px ridge black;
    position: relative;
    left: 80%;
    margin-left: 16px;
    border-radius: 5px;
    padding: 5px;
    background-color: wheat;
    text-shadow: 2px 2px 4px #000000;
    font-size: 20px;
    letter-spacing: 1.5px;
    text-decoration: none !important;
}

.sisir{
    position: relative;
    top: 50px;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    height: 45px;
    width: 1000px;
    margin: 20px 10px;
}
h1{
    background-color: whitesmoke;
    text-align: center;
    border: 2px double;
    padding: 5px 30px;
    border-radius: 10px;
    position: relative;
    top: 30px;
    left:13%;
    font-family: Georgia, serif;
    font-size: 40px;
    display: inline; 
}
.t{
    text-align: center;
    color: tomato;
    font-size: 20px;
    position: relative;
    top: 50px;
}