#x{
    font-size: 24px;
    border: 2px ridge black;
    border-radius: 5px;
    text-align: left;
    width:fit-content;
    position: relative;
    left: 38%;
    padding: 15px;
    background-color:aqua;
    word-spacing: 2.5px;
   

}
h1{
    font-size: 100px;
    text-align: center;
}  

a.fu1{
    text-decoration:none ;
    border: 2px ridge black;
    position: relative;
    top: 40px;
    left: 45%;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: wheat;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-size: 20px;
}
a.fu2{
    text-decoration:none ;
    border: 2px ridge black;
    position: relative;
    top: 0px;
    left: 85%;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: wheat;
    
    font-size: 20px;
    letter-spacing: 1.5px;
    font-size: 20px;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#d4ced8, #b3b0b4);
    height: 100vh;
    overflow: hidden;
  }